*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* temas */
#tema{
    position: fixed;
    top: 0;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 3px;
    border: none;
    text-align: center;
    width: 95px;
    overflow: hidden;
}
#tema:hover{
    cursor: pointer;
}
body.modoNoche{
    background-color: rgb(32,32,44);
    color: white;
}
body.modoNoche form{
    background-color: black;
}
body.modoNoche .rangoPlazo{
    color: black;
}
body.modoNoche .capitalMin{
    color: black;
}
body.modoNoche #tema{
    color: black;
    background-color: white;
}
/* fin de temas */



header{
    padding-top: 15px;
}
h1{
    text-align: center;
    height: bold;
    font-size: 3rem;
    margin: 3% 3%;
}
h3{
    margin-left: 5px;
    margin:2% 2%;
    font-size: 1.5rem;
    text-align: center;
    
}
div{
    margin: 5px;
    font-size: 20px;
    height: 80px;
    
}
label{
    align-items: center;
}
span{
    background-color: wheat;
    /* background-color: rgb(149, 161, 162); */
    font-size: .9rem;
    display: inline-block;
}
.plazoSpan{
    font-size: 20px;
    background-color: transparent;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.capital{
    margin-top: 10%;
}
form{
    background-color: rgb(180, 204, 248);
    /* background-color: grey; */
    width: 50%;
    min-width: 480px;
    /* height: 350px; */
    display: flex;
    justify-content: center;
}

input{
    height: 40%;
    /* position: relative; */
    left: auto;
    font-size: 1rem;
    
}
.btn{
    font-size: 1.5rem;
    background-color: silver;
    margin: 5px;
    display: inline-block;
    padding: 3px;
}
.boton input:hover{
    background-color: lightyellow;
    cursor: pointer;
}

/* contenedor que contiene el boton calcular y limpiar */
.boton{
    margin-right: 0%;
    display: flex;
    justify-content: center;
}

.contenido{
    height: 100%;
    width: 50%;
    /* display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    align-content: center; */

}
.subContenido{
    text-align: center;
}
.resultado{
    background-color: aliceblue;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.resultado td{
    padding: 10px;
    border-bottom: 2px solid red;
    border-collapse: collapse;
    padding-left: 20px;
    padding-right: 20px;
}
.resultado table{
    border-collapse: collapse;
    width: 70%;
}
.regresar{
    padding: 5px;
    margin-left: 0;
    margin-top: 20px;
}

.contenido{
    display: block;
}

/* tabla de resultados creados en el DOM */
#tabla{
    opacity: 0.9;
}










@media only screen and (max-width: 500px){

    h1{
        font-size: 210%;
    }
    h3{
        font-size: 1.2rem;
    }
    form{
        margin-top: 15px;
        width: 80vw;
        min-width: 200px;
    }
    .capital {
        margin: 10px;
    }
    .plazo{
        margin: 10px;
    }
    .boton input{
        font-size: 20px;
    }
    .contenido{
        text-align: center;
        width: 80%;
        height: auto;
    }
    .contenido input{
        text-align: center;
        width: 80%;
        max-width: 200px;
        margin-top: 5px;
    }
    p{
        padding: 5px;
    }
    label{
        font-size: 16px;
    }
    .boton{
        margin-top: 20px;
    }
    .rangoPlazo{
        width: auto;
        margin-top: 8px;
    }
    .tasa{
        margin-top: 30px;
    }
    


}








@media only screen and (min-width: 930px){
    div{
        margin: 1%;
        font-size: 20px;
        height: 80px;
        
    }

}


